<div class="form-container">
  <form #authForm="ngForm" (ngSubmit)="submit(authForm)" novalidate>
    <div>
      <label for="email"> Email</label>
      <input
        type="text"
        id="email"
        [(ngModel)]="form.email"
        name="email"
        #email="ngModel"
        [class.inputerror]="isFormSubmitted && email.invalid"
        required
      />
    </div>
    <p class="error" *ngIf="isFormSubmitted && email.invalid">
      Required Field.
    </p>
    <div>
      <label for="password"> Password</label>
      <input
        type="password"
        id="password"
        [(ngModel)]="form.password"
        #password="ngModel"
        [class.inputerror]="isFormSubmitted && password.invalid"
        name="password"
        required
      />
    </div>
    <p class="error" *ngIf="isFormSubmitted && password.invalid">
      Required Field.
    </p>
    <div [ngStyle]="{ display: isSignup ? 'block' : 'none' }">
      <label for="confirmpassword">Confirm Password</label>
      <input
        type="password"
        id="confirmpassword"
        [(ngModel)]="form.confirmpassword"
        #confirmpassword="ngModel"
        name="confirmpassword"
        [required]="isSignup"
        [class.inputerror]="
          isFormSubmitted && (confirmpassword.invalid || !passNotMatch)
        "
      />
    </div>
    <p
      class="error"
      *ngIf="isSignup && isFormSubmitted && confirmpassword.invalid"
    >
      Required Field.
    </p>
    <p class="error" *ngIf="isSignup && isFormSubmitted && !passNotMatch">
      Passwords do not match.
    </p>
    <button class="btn-mode" type="button" (click)="changeMode()">
      Switch to {{ isSignup === true ? "Signin" : "Signup" }}
    </button>
    <button type="submit" class="btn-primary">
      {{ isSignup === true ? "Signup" : "Signin" }}
    </button>
  </form>
</div>
